@CHARSET "UTF-8";

#table
{
	width: auto;
	height: auto;
	margin-left: 150px;
	margin-top: 20px;
}

th {
	background-color: #F5DEB3;
}

td {
	background-color: #F5F5F5;
	text-align: center;
}

#learningFileName {
	width: 400px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#chapterName {
	width: 150px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#reply	{
	width: 100px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#type
{
	width: 85px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#num{
 	width: 50px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#caozuo
{
	width: 65px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#caozuoupload {
	width: 95px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#userName {
	width: 80px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#page{
	width:898px;
	height: auto;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	margin-left: 130px;
	margin-top: 10px;
}

#page a:link {
	text-decoration:none;
}

#caozuo a:link {
	text-decoration:none;
}

#caozuoupload a:link {
	text-decoration:none;
}
