<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!-- configure the DAO -->
    <bean id="baseDAO" class="dao.BaseDAO"></bean>
	<bean id="userDAO" class="dao.impl.UserImpl" parent="baseDAO"></bean>
	<bean id="receAddressDAO" class="dao.impl.ReceAddressImpl" parent="baseDAO"></bean>
	<bean id="userInfoDAO" class="dao.impl.UserInfoImpl" parent="baseDAO"></bean>
	<bean id="dealDAO" class="dao.impl.DealImpl" parent="baseDAO"></bean>
	<bean id="mcDAO" class="dao.impl.McImpl" parent="baseDAO"></bean>
	<bean id="orderDAO" class="dao.impl.OrderImpl" parent="baseDAO"></bean>
	<bean id="prDAO" class="dao.impl.PrImpl" parent="baseDAO"></bean>
	<bean id="productDAO" class="dao.impl.ProductImpl" parent="baseDAO"></bean>
	<bean id="scDAO" class="dao.impl.ScImpl" parent="baseDAO"></bean>
	<bean id="shopDAO" class="dao.impl.ShopImpl" parent="baseDAO"></bean>
	<bean id="articleDAO" class="dao.impl.ArticleImpl" parent="baseDAO"></bean>
	<bean id="shoppingCarDAO" class="dao.impl.ShoppingCarImpl" parent="baseDAO"></bean>
	<bean id="newProductDAO" class="dao.impl.NewProductImpl" parent="baseDAO"></bean>
	<bean id="hotSaleDAO" class="dao.impl.HotSaleImpl" parent="baseDAO"></bean>
	<bean id="specialPriceDAO" class="dao.impl.SpecialPriceImpl" parent="baseDAO"></bean>
	<bean id="walletDAO" class="dao.impl.WalletImpl" parent="baseDAO"></bean>
	<bean id="withdrawDAO" class="dao.impl.WithdrawImpl" parent="baseDAO"></bean>
	<bean id="searchDAO" class="dao.impl.SearchImpl" parent="baseDAO"></bean>
	
	
	<!-- configure the service -->
	<!-- user service -->
	<bean id="baseUserServiceDAO" class="service.dao.BaseUserServiceDAO">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	<bean id="loginServiceDAO" class="service.LoginService" parent="baseUserServiceDAO"></bean>
	<bean id="registerServiceDAO" class="service.RegisterService" parent="baseUserServiceDAO"></bean>
    <bean id="updateUserPasswordServiceDAO" class="service.UpdateUserPasswordService" parent="baseUserServiceDAO"></bean>	
    <bean id="updateUserTypeServiceDAO" class="service.UpdateUserTypeService" parent="baseUserServiceDAO"></bean>
	<bean id="findUserServiceDAO" class="service.FindUserService" parent="baseUserServiceDAO"></bean>
	<bean id="findUserByIdServiceDAO" class="service.FindUserByIdService" parent="baseUserServiceDAO"></bean>
	
	<!-- userinfo service -->
	<bean id="baseUserInfoServiceDAO" class="service.dao.BaseUserInfoServiceDAO">
		<property name="userInfoDAO" ref="userInfoDAO"></property>
	</bean>
	<bean id="insertUserInfoServiceDAO" class="service.InsertUserInfoService" parent="baseUserInfoServiceDAO"></bean>
	<bean id="updateUserInfoServiceDAO" class="service.UpdateUserInfoService" parent="baseUserInfoServiceDAO"></bean>
	<bean id="findUserInfoServiceDAO" class="service.FindUserInfoService" parent="baseUserInfoServiceDAO"></bean>
	<bean id="findUserInfoByUserIdServiceDAO" class="service.FindUserInfoByUserIdService" parent="baseUserInfoServiceDAO"></bean>
	
	<!-- receAddress service -->
	<bean id="baseReceAddressServiceDAO" class="service.dao.BaseReceAddressServiceDAO">
		<property name="receAddressDAO" ref="receAddressDAO"></property>
	</bean>
	<bean id="insertReceAddressServiceDAO" class="service.InsertReceAddressService" parent="baseReceAddressServiceDAO"></bean>
	<bean id="updateReceAddressServiceDAO" class="service.UpdateReceAddressService" parent="baseReceAddressServiceDAO"></bean>
	<bean id="findReceAddressServiceDAO" class="service.FindReceAddressService" parent="baseReceAddressServiceDAO"></bean>
	<bean id="findReceAddressByUserIdServiceDAO" class="service.FindReceAddressByUserIdService" parent="baseReceAddressServiceDAO"></bean>
	<bean id="deleteReceAddressServiceDAO" class="service.DeleteReceAddressService" parent="baseReceAddressServiceDAO"></bean>
	<bean id="finalReceAddressByUserIdServiceDAO" class="service.FindFinalReceAddressByUserIdService" parent="baseReceAddressServiceDAO"></bean>
	
	<!-- deal service -->
	<bean id="baseDealServiceDAO" class="service.dao.BaseDealServiceDAO">
		<property name="dealDAO" ref="dealDAO"></property>
	</bean>
	<bean id="insertDealServiceDAO" class="service.InsertDealService" parent="baseDealServiceDAO"></bean>
	<bean id="updateDealServiceDAO" class="service.UpdateDealService" parent="baseDealServiceDAO"></bean>
	<bean id="deleteDealServiceDAO" class="service.DeleteDealService" parent="baseDealServiceDAO"></bean>
	<bean id="findDealByIdServiceDAO" class="service.FindDealByIdService" parent="baseDealServiceDAO"></bean>
	<bean id="findDealByOrderIdServiceDAO" class="service.FindDealByOrderIdService" parent="baseDealServiceDAO"></bean>
	<bean id="findIncomeByShopIdServiceDAO" class="service.FindIncomeByShopIdService" parent="baseDealServiceDAO"></bean>
	<bean id="findIncomeByInviteeServiceDAO" class="service.FindIncomeByInviteeService" parent="baseDealServiceDAO"></bean>
	
	
	<!-- mc service -->
	<bean id="baseMcServiceDAO" class="service.dao.BaseMcServiceDAO">
		<property name="mcDAO" ref="mcDAO"></property>
	</bean>
	<bean id="insertMcServiceDAO" class="service.InsertMcService" parent="baseMcServiceDAO"></bean>
	<bean id="updateMcServiceDAO" class="service.UpdateMcService" parent="baseMcServiceDAO"></bean>
	<bean id="deleteMcServiceDAO" class="service.DeleteMcService" parent="baseMcServiceDAO"></bean>
	<bean id="findMcByIdServiceDAO" class="service.FindMcByIdService" parent="baseMcServiceDAO"></bean>
	<bean id="findMcsServiceDAO" class="service.FindMcsService" parent="baseMcServiceDAO"></bean>
	
	<!-- order service -->
	<bean id="baseOrderServiceDAO" class="service.dao.BaseOrderServiceDAO">
		<property name="orderDAO" ref="orderDAO"></property>
	</bean>
	<bean id="insertOrderServiceDAO" class="service.InsertOrderService" parent="baseOrderServiceDAO"></bean>
	<bean id="updateOrderServiceDAO" class="service.UpdateOrderService" parent="baseOrderServiceDAO"></bean>
	<bean id="deleteOrderServiceDAO" class="service.DeleteOrderService" parent="baseOrderServiceDAO"></bean>
	<bean id="findOrderByIdServiceDAO" class="service.FindOrderByIdService" parent="baseOrderServiceDAO"></bean>
	<bean id="findOrderByUserIdServiceDAO" class="service.FindOrderByUserIdService" parent="baseOrderServiceDAO"></bean>
	<bean id="findOrderByShopIdServiceDAO" class="service.FindOrderByShopIdService" parent="baseOrderServiceDAO"></bean>
	<bean id="findOrderByOrderNumberServiceDAO" class="service.FindOrderByOrderNumberService" parent="baseOrderServiceDAO"></bean>
	<bean id="findOrderByInviteeServiceDAO" class="service.FindOrderByInviteeService" parent="baseOrderServiceDAO"></bean>
	
	
	<!-- pr service -->
	<bean id="basePrServiceDAO" class="service.dao.BasePrServiceDAO">
		<property name="prDAO" ref="prDAO"></property>
	</bean>
	<bean id="insertPrServiceDAO" class="service.InsertPrService" parent="basePrServiceDAO"></bean>
	<bean id="deletePrServiceDAO" class="service.DeletePrService" parent="basePrServiceDAO"></bean>
	<bean id="findPrByIdServiceDAO" class="service.FindPrByIdService" parent="basePrServiceDAO"></bean>
	<bean id="findPrsByUserIdServiceDAO" class="service.FindPrsByUserIdService" parent="basePrServiceDAO"></bean>
	<bean id="findPrsByDealIdServiceDAO" class="service.FindPrsByDealIdService" parent="basePrServiceDAO"></bean>
	<bean id="findPrsByProductIdServiceDAO" class="service.FindPrsByProductIdService" parent="basePrServiceDAO"></bean>
	
	<!-- product service -->
	<bean id="baseProductServiceDAO" class="service.dao.BaseProductServiceDAO">
		<property name="productDAO" ref="productDAO"></property>
	</bean>
	<bean id="insertProductServiceDAO" class="service.InsertProductService" parent="baseProductServiceDAO"></bean>
	<bean id="updateProductServiceDAO" class="service.UpdateProductService" parent="baseProductServiceDAO"></bean>
	<bean id="deleteProductServiceDAO" class="service.DeleteProductService" parent="baseProductServiceDAO"></bean>
	<bean id="findProductByIdServiceDAO" class="service.FindProductByIdService" parent="baseProductServiceDAO"></bean>
	<bean id="findProductByNumberingServiceDAO" class="service.FindProductByNumberingService" parent="baseProductServiceDAO"></bean>
	<bean id="findProductByScIdServiceDAO" class="service.FindProductByScIdService" parent="baseProductServiceDAO"></bean>
	<bean id="findProductByKeyServiceDAO" class="service.FindProductByKeyService" parent="baseProductServiceDAO"></bean>
	
	<!-- shop service -->
	<bean id="baseShopServiceDAO" class="service.dao.BaseShopServiceDAO">
		<property name="shopDAO" ref="shopDAO"></property>
	</bean>
	<bean id="insertShopServiceDAO" class="service.InsertShopService" parent="baseShopServiceDAO"></bean>
	<bean id="updateShopServiceDAO" class="service.UpdateShopService" parent="baseShopServiceDAO"></bean>
	<bean id="deleteShopServiceDAO" class="service.DeleteShopService" parent="baseShopServiceDAO"></bean>
	<bean id="findShopByIdServiceDAO" class="service.FindShopByIdService" parent="baseShopServiceDAO"></bean>
	<bean id="findShopByUserIdServiceDAO" class="service.FindShopByUserIdService" parent="baseShopServiceDAO"></bean>
	<bean id="findShopByInviteeServiceDAO" class="service.FindShopByInviteeService" parent="baseShopServiceDAO"></bean>
	
	<!-- sc service -->
	<bean id="baseScServiceDAO" class="service.dao.BaseScServiceDAO">
		<property name="scDAO" ref="scDAO"></property>
	</bean>
	<bean id="insertScServiceDAO" class="service.InsertScService" parent="baseScServiceDAO"></bean>
	<bean id="updateScServiceDAO" class="service.UpdateScService" parent="baseScServiceDAO"></bean>
	<bean id="deleteScServiceDAO" class="service.DeleteScService" parent="baseScServiceDAO"></bean>
	<bean id="findScByIdServiceDAO" class="service.FindScByIdService" parent="baseScServiceDAO"></bean>
	<bean id="findScsByMcIdServiceDAO" class="service.FindScsByMcIdService" parent="baseScServiceDAO"></bean>
	
	<!-- article service -->
	<bean id="baseArticleServiceDAO" class="service.dao.BaseArticleServiceDAO">
		<property name="articleDAO" ref="articleDAO"></property>
	</bean>
	<bean id="insertArticleServiceDAO" class="service.InsertArticleService" parent="baseArticleServiceDAO"></bean>
	<bean id="updateArticleServiceDAO" class="service.UpdateArticleService" parent="baseArticleServiceDAO"></bean>
	<bean id="updateArticleReadTimesServiceDAO" class="service.UpdateArticleReadTimesService" parent="baseArticleServiceDAO"></bean>
	<bean id="updateArticleLikeTimesServiceDAO" class="service.UpdateArticleLikeTimesService" parent="baseArticleServiceDAO"></bean>
	<bean id="deleteArticleServiceDAO" class="service.DeleteArticleService" parent="baseArticleServiceDAO"></bean>
	<bean id="findArticleByIdServiceDAO" class="service.FindArticleByIdService" parent="baseArticleServiceDAO"></bean>
	<bean id="findAllArticlesServiceDAO" class="service.FindAllArticlesService" parent="baseArticleServiceDAO"></bean>
	
	<!-- shopping car service -->
	<bean id="baseShoppingCarServiceDAO" class="service.dao.BaseShoppingCarServiceDAO">
		<property name="shoppingCarDAO" ref="shoppingCarDAO"></property>
	</bean>
	<bean id="insertShoppingCarServiceDAO" class="service.InsertShoppingCarService" parent="baseShoppingCarServiceDAO"></bean>
	<bean id="updateShoppingCarServiceDAO" class="service.UpdateShoppingCarService" parent="baseShoppingCarServiceDAO"></bean>
	<bean id="updateShoppingCarProductCountServiceDAO" class="service.UpdateShoppingCarProductCountService" parent="baseShoppingCarServiceDAO"></bean>
	<bean id="deleteShoppingCarServiceDAO" class="service.DeleteShoppingCarService" parent="baseShoppingCarServiceDAO"></bean>
	<bean id="updateShoppingCarAddOneProductServiceDAO" class="service.UpdateShoppingCarAddOneProductService" parent="baseShoppingCarServiceDAO"></bean>
	<bean id="findShoppingCarByUserIdServiceDAO" class="service.FindShoppingCarByUserIdService" parent="baseShoppingCarServiceDAO"></bean>
	<bean id="findShoppingCarByUserIdAndProductIdServiceDAO" class="service.FindShoppingCarByUserIdAndProductIdService" parent="baseShoppingCarServiceDAO"></bean>
	
	<!-- new product service -->
	<bean id="baseNewProductServiceDAO" class="service.dao.BaseNewProductServiceDAO">
		<property name="newProductDAO" ref="newProductDAO"></property>
	</bean>
	<bean id="insertNewProductServiceDAO" class="service.InsertNewProductService" parent="baseNewProductServiceDAO"></bean>
	<bean id="findNewProductServiceDAO" class="service.FindNewProductService" parent="baseNewProductServiceDAO"></bean>

		<!-- hot sale service -->
	<bean id="baseHotSaleServiceDAO" class="service.dao.BaseHotSaleServiceDAO">
		<property name="hotSaleDAO" ref="hotSaleDAO"></property>
	</bean>
	<bean id="insertHotSaleServiceDAO" class="service.InsertHotSaleService" parent="baseHotSaleServiceDAO"></bean>
	<bean id="findHotSaleServiceDAO" class="service.FindHotSaleService" parent="baseHotSaleServiceDAO"></bean>

		<!-- special price service -->
	<bean id="baseSpecialPriceServiceDAO" class="service.dao.BaseSpecialPriceServiceDAO">
		<property name="specialPriceDAO" ref="specialPriceDAO"></property>
	</bean>
	<bean id="insertSpecialPriceServiceDAO" class="service.InsertSpecialPriceService" parent="baseSpecialPriceServiceDAO"></bean>
	<bean id="findSpecialPriceServiceDAO" class="service.FindSpecialPriceService" parent="baseSpecialPriceServiceDAO"></bean>
	
		<!-- user wallet service -->
	<bean id="baseWalletServiceDAO" class="service.dao.BaseWalletServiceDAO">
		<property name="walletDAO" ref="walletDAO"></property>
	</bean>
	<bean id="insertWalletServiceDAO" class="service.InsertWalletService" parent="baseWalletServiceDAO"></bean>
	<bean id="updateWalletPasswordServiceDAO" class="service.UpdateWalletPasswordService" parent="baseWalletServiceDAO"></bean>
	<bean id="addWalletMoneyServiceDAO" class="service.AddWalletMoneyService" parent="baseWalletServiceDAO"></bean>
	<bean id="subWalletMoneyServiceDAO" class="service.SubWalletMoneyService" parent="baseWalletServiceDAO"></bean>
	<bean id="valiteWalletServiceDAO" class="service.ValiteWalletService" parent="baseWalletServiceDAO"></bean>
	<bean id="findWalletMoneyByUserIdServiceDAO" class="service.FindWalletMoneyByUserIdService" parent="baseWalletServiceDAO"></bean>
	
	<!-- withdraw service -->
	<bean id="baseWithdrawServiceDAO" class="service.dao.BaseWithdrawServiceDAO">
		<property name="withdrawDAO" ref="withdrawDAO"></property>
	</bean>
	<bean id="insertWithdrawServiceDAO" class="service.InsertWithdrawService" parent="baseWithdrawServiceDAO"></bean>
	<bean id="findWithdrawMoneyByUserIdServiceDAO" class="service.FindWithdrawMoneyByUserIdService" parent="baseWithdrawServiceDAO"></bean>
	
	<!-- search service -->
	<bean id="baseSearchServiceDAO" class="service.dao.BaseSearchServiceDAO">
		<property name="searchDAO" ref="searchDAO"></property>
	</bean>
	<bean id="insertSearchServiceDAO" class="service.InsertSearchService" parent="baseSearchServiceDAO"></bean>
	<bean id="findSearchByUserIdServiceDAO" class="service.FindSearchByUserIdService" parent="baseSearchServiceDAO"></bean>
	
	
	<!-- configure the action -->
	<!-- user action -->
	<bean id="loginAction" class="action.LoginAction">
		<property name="loginServiceDAO" ref="loginServiceDAO"></property>
	</bean>
	<bean id="registerAction" class="action.RegisterAction">
		<property name="registerServiceDAO" ref="registerServiceDAO"></property>
		<property name="findUserServiceDAO" ref="findUserServiceDAO"></property>
		<property name="insertUserInfoServiceDAO" ref="insertUserInfoServiceDAO"></property>
		<property name="insertWalletServiceDAO" ref="insertWalletServiceDAO"></property>
	</bean>
	<bean id="updateUserPasswordAction" class="action.UpdateUserPasswordAction">
		<property name="updateUserPasswordServiceDAO" ref="updateUserPasswordServiceDAO"></property>
	</bean>
	<bean id="updateUserTypeAction" class="action.UpdateUserTypeAction">
		<property name="updateUserTypeServiceDAO" ref="updateUserTypeServiceDAO"></property>
	</bean>
	<bean id="findUserAction" class="action.FindUserAction">
		<property name="findUserServiceDAO" ref="findUserServiceDAO"></property>
	</bean>
	<bean id="findUserByIdAction" class="action.FindUserByIdAction">
		<property name="findUserByIdServiceDAO" ref="findUserByIdServiceDAO"></property>
	</bean>
	
	<!-- userinfo action -->
	<bean id ="insertUserInfoAction" class="action.InsertUserInfoAction">
		<property name="insertUserInfoServiceDAO" ref="insertUserInfoServiceDAO" ></property>
	</bean>
	<bean id ="updateUserInfoAction" class="action.UpdateUserInfoAction">
		<property name="updateUserInfoServiceDAO" ref="updateUserInfoServiceDAO"></property>
	</bean>
	<bean id="findUserInfoAction" class="action.FindUserInfoAction">
		<property name="findUserInfoServiceDAO" ref="findUserInfoServiceDAO"></property>
	</bean>
	<bean id="findUserInfoByUserIdAction" class="action.FindUserInfoByUserIdAction">
		<property name="findUserInfoByUserIdServiceDAO" ref="findUserInfoByUserIdServiceDAO"></property>
	</bean>
	
	<!-- receAddress action -->
	<bean id="insertReceAddressAction" class="action.InsertReceAddressAction">
		<property name="insertReceAddressServiceDAO" ref="insertReceAddressServiceDAO"></property>
		<property name="finalReceAddressByUserIdServiceDAO" ref="finalReceAddressByUserIdServiceDAO"></property>
	</bean>
	<bean id="updateReceAddressAction" class="action.UpdateReceAddressAction">
		<property name="updateReceAddressServiceDAO" ref="updateReceAddressServiceDAO"></property>
	</bean>
	<bean id="findReceAddressAction" class="action.FindReceAddressAction">
		<property name="findReceAddressServiceDAO" ref="findReceAddressServiceDAO"></property>
	</bean>
	<bean id="findReceAddressByUserIdAction" class="action.FindReceAddressByUserIdAction">
		<property name="findReceAddressByUserIdServiceDAO" ref="findReceAddressByUserIdServiceDAO"></property>
	</bean>
	<bean id="deleteReceAddressAction" class="action.DeleteReceAddressAction">
		<property name="findReceAddressServiceDAO" ref="findReceAddressServiceDAO"></property>
		<property name="deleteReceAddressServiceDAO" ref="deleteReceAddressServiceDAO"></property>
	</bean>
	
	<!-- new product action -->
	<bean id="findNewProductsAction" class="action.FindNewProductsAction">
		<property name="findNewProductServiceDAO" ref="findNewProductServiceDAO"></property>
		<property name="findProductByIdServiceDAO" ref="findProductByIdServiceDAO"></property>
		
	</bean>
	
	<!-- hot Sale action -->
	<bean id="findHotSaleAction" class="action.FindHotSaleAction">
		<property name="findHotSaleServiceDAO" ref="findHotSaleServiceDAO"></property>
		<property name="findProductByIdServiceDAO" ref="findProductByIdServiceDAO"></property>
	</bean>
	
	<!-- special price action -->
	<bean id="findSpecialPriceAction" class="action.FindSpecialPriceAction">
		<property name="findSpecialPriceServiceDAO" ref="findSpecialPriceServiceDAO"></property>
		<property name="findProductByIdServiceDAO" ref="findProductByIdServiceDAO"></property>
	</bean>
	
	<!-- product review action -->
	<bean id="insertPrAction" class="action.InsertPrAction">
		<property name="insertPrServiceDAO" ref="insertPrServiceDAO"></property>
	</bean>
	<bean id="findPrsByUserIdAction" class="action.FindPrsByUserIdAction">
		<property name="findPrsByUserIdServiceDAO" ref="findPrsByUserIdServiceDAO"></property>
	</bean>
	<bean id="findPrsByProductIdAction" class="action.FindPrsByProductIdAction">
		<property name="findPrsByProductIdServiceDAO" ref="findPrsByProductIdServiceDAO"></property>
	</bean>
	<bean id="findPrsByDealIdAction" class="action.FindPrsByDealIdAction">
		<property name="findPrsByDealIdServiceDAO" ref="findPrsByDealIdServiceDAO"></property>
	</bean>
	
	<!-- shoppingCar action -->
	<bean id="insertShoppingCarAction" class="action.InsertShoppingCarAction">
		<property name="insertShoppingCarServiceDAO" ref="insertShoppingCarServiceDAO"></property>
		<property name="findShoppingCarByUserIdAndProductIdServiceDAO" ref="findShoppingCarByUserIdAndProductIdServiceDAO"></property>
		<property name="updateShoppingCarAddOneProductServiceDAO" ref="updateShoppingCarAddOneProductServiceDAO"></property>
	</bean>
	<bean id="updateShoppingCarAction" class="action.UpdateShoppingCarAction">
		<property name="updateShoppingCarServiceDAO" ref="updateShoppingCarServiceDAO"></property>
	</bean>
	<bean id="updateShoppingCarProductCountAction" class="action.UpdateShoppingCarProductCountAction">
		<property name="updateShoppingCarProductCountServiceDAO" ref="updateShoppingCarProductCountServiceDAO"></property>
	</bean>
	<bean id="deleteShoppingCarAction" class="action.DeleteShoppingCarAction">
		<property name="deleteShoppingCarServiceDAO" ref="deleteShoppingCarServiceDAO"></property>
	</bean>
	<bean id="findShoppingCarByUserIdAction" class="action.FindShoppingCarByUserIdAction">
		<property name="findShoppingCarByUserIdServiceDAO" ref="findShoppingCarByUserIdServiceDAO"></property>
	</bean>
	
	<!-- shopp action -->
	<bean id="insertShopAction" class="action.InsertShopAction">
		<property name="insertShopServiceDAO" ref="insertShopServiceDAO"></property>
	</bean>
	<bean id="updateShopAction" class="action.UpdateShopAction">
		<property name="updateShopServiceDAO" ref="updateShopServiceDAO"></property>
	</bean>
	<bean id="findShopByUserIdAction" class="action.FindShopByUserIdAction">
		<property name="findShopByUserIdServiceDAO" ref="findShopByUserIdServiceDAO"></property>
	</bean>
	<bean id="findShopByIdAction" class="action.FindShopByIdAction">
		<property name="findShopByIdServiceDAO" ref="findShopByIdServiceDAO"></property>
	</bean>
	<bean id="findShopByInviteeAction" class="action.FindShopByInviteeAction">
		<property name="findShopByInviteeServiceDAO" ref="findShopByInviteeServiceDAO"></property>
	</bean>
	
	<!-- order action -->
	<bean id="insertOrderAction" class="action.InsertOrderAction">
		<property name="insertOrderServiceDAO" ref="insertOrderServiceDAO"></property>
		<property name="findOrderByOrderNumberServiceDAO" ref="findOrderByOrderNumberServiceDAO"></property>
	</bean>
	<bean id="updateOrderAction" class="action.UpdateOrderAction">
		<property name="updateOrderServiceDAO" ref="updateOrderServiceDAO"></property>
	</bean>
	<bean id="findOrderByUserIdAction" class="action.FindOrderByUserIdAction">
		<property name="findOrderByUserIdServiceDAO" ref="findOrderByUserIdServiceDAO"></property>
	</bean>
	<bean id="findOrderByIdAction" class="action.FindOrderByIdAction">
		<property name="findOrderByIdServiceDAO" ref="findOrderByIdServiceDAO"></property>
	</bean>
	<bean id="findOrderByShopIdAction" class="action.FindOrderByShopIdAction">
		<property name="findOrderByShopIdServiceDAO" ref="findOrderByShopIdServiceDAO"></property>
	</bean>
	<bean id="findOrderByInviteeAction" class="action.FindOrderByInviteeAction">
		<property name="findOrderByInviteeServiceDAO" ref="findOrderByInviteeServiceDAO"></property>
	</bean>
	
	<!-- deal action -->
	<bean id="insertDealAction" class="action.InsertDealAction">
		<property name="insertDealServiceDAO" ref="insertDealServiceDAO"></property>
	</bean>
	<bean id="updateDealAction" class="action.UpdateDealAction">
		<property name="updateDealServiceDAO" ref="updateDealServiceDAO"></property>
	</bean>
	<bean id="findDealByIdAction" class="action.FindDealByIdAction">
		<property name="findDealByIdServiceDAO" ref="findDealByIdServiceDAO"></property>
	</bean>
	<bean id="findDealByOrderIdAction" class="action.FindDealByOrderIdAction">
		<property name="findDealByOrderIdServiceDAO" ref="findDealByOrderIdServiceDAO"></property>
	</bean>
	
	<!-- deal action -->
	<bean id="updateWalletPasswordAction" class="action.UpdateWalletPasswordAction">
		<property name="updateWalletPasswordServiceDAO" ref="updateWalletPasswordServiceDAO"></property>
	</bean>
	<bean id="addWalletMoneyAction" class="action.AddWalletMoneyAction">
		<property name="addWalletMoneyServiceDAO" ref="addWalletMoneyServiceDAO"></property>
	</bean>
	<bean id="subWalletMoneyAction" class="action.SubWalletMoneyAction">
		<property name="subWalletMoneyServiceDAO" ref="subWalletMoneyServiceDAO"></property>
	</bean>
	<bean id="valiteWalletAction" class="action.ValiteWalletAction">
		<property name="valiteWalletServiceDAO" ref="valiteWalletServiceDAO"></property>
	</bean>
	<bean id="findWalletMoneyByUserIdAction" class="action.FindWalletMoneyByUserIdAction">
		<property name="findWalletMoneyByUserIdServiceDAO" ref="findWalletMoneyByUserIdServiceDAO"></property>
	</bean>
	<bean id="findIncomeByShopIdAction" class="action.FindIncomeByShopIdAction">
		<property name="findIncomeByShopIdServiceDAO" ref="findIncomeByShopIdServiceDAO"></property>
	</bean>
	<bean id="findIncomeByInviteeAction" class="action.FindIncomeByInviteeAction">
		<property name="findIncomeByInviteeServiceDAO" ref="findIncomeByInviteeServiceDAO"></property>
	</bean>
	
	<!-- product action -->
	<bean id="findProductByIdAction" class="action.FindProductByIdAction">
		<property name="findProductByIdServiceDAO" ref="findProductByIdServiceDAO"></property>
	</bean>
	<bean id="findProductByScIdAction" class="action.FindProductByScIdAction">
		<property name="findProductByScIdServiceDAO" ref="findProductByScIdServiceDAO"></property>
	</bean>
	<bean id="findProductByKeyAction" class="action.FindProductByKeyAction">
		<property name="findProductByKeyServiceDAO" ref="findProductByKeyServiceDAO"></property>
		<property name="insertSearchServiceDAO" ref="insertSearchServiceDAO"></property>
	</bean>
	
	<!-- mc action -->
	<bean id="findMcByIdAction" class="action.FindMcByIdAction">
		<property name="findMcByIdServiceDAO" ref="findMcByIdServiceDAO"></property>
	</bean>
	<bean id="findMcsAction" class="action.FindMcsAction">
		<property name="findMcsServiceDAO" ref="findMcsServiceDAO"></property>
	</bean>
	
	<!-- sc action -->
	<bean id="findScByIdAction" class="action.FindScByIdAction">
		<property name="findScByIdServiceDAO" ref="findScByIdServiceDAO"></property>
	</bean>
	<bean id="findScByMcIdAction" class="action.FindScByMcIdAction">
		<property name="findScByMcIdServiceDAO" ref="findScsByMcIdServiceDAO"></property>
	</bean>
	
	<!-- withdraw action -->
	<bean id="insertWithdrawAction" class="action.InsertWithdrawAction">
		<property name="insertWithdrawServiceDAO" ref="insertWithdrawServiceDAO"></property>
	</bean>
	<bean id="findWithdrawMoneyByUserIdAction" class="action.FindWithdrawByUserIdAction">
		<property name="findWithdrawMoneyByUserIServiceDAO" ref="findWithdrawMoneyByUserIdServiceDAO"></property>
	</bean>
	
	<!-- search action -->
	<bean id="insertSearchAction" class="action.InsertSearchAction">
		<property name="insertSearchServiceDAO" ref="insertSearchServiceDAO"></property>
	</bean>
	<bean id="findSearchByUserIdAction" class="action.FindSearchByUserIdAction">
		<property name="findSearchByUserIdServiceDAO" ref="findSearchByUserIdServiceDAO"></property>
	</bean>
</beans>